@font-face {
  font-family: "TTFirsNeueRegular";
  src: url("./TTFirsNeue-Regular.eot");
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"),
    url("./TTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-Regular.woff2") format("woff2"),
    url("./TTFirsNeue-Regular.woff") format("woff"),
    url("./TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTFirsNeueBold";
  src: url("./TTFirsNeue-DemiBold.eot");
  src: local("TT Firs Neue DemiBold"), local("TTFirsNeue-DemiBold"),
    url("./TTFirsNeue-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-DemiBold.woff2") format("woff2"),
    url("./TTFirsNeue-DemiBold.woff") format("woff"),
    url("./TTFirsNeue-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TTFirsNeueMedium";
  src: url("./TTFirsNeue-Medium.eot");
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"),
    url("./TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-Medium.woff2") format("woff2"),
    url("./TTFirsNeue-Medium.woff") format("woff"),
    url("./TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
